[run]

# Check branch coverage in addition to statement coverage
branch = True

# Run test on gender_analysis with `coverage run`
command_line = -m pytest gender_analysis
source = gender_analysis

[report]

# Don't report files that are empty or have 100% test coverage
skip_empty = True
skip_covered = True
