# only run travis on pushes to master, pull requests, or if the branch
# name contains the case insensitive substring 'travis'
branches:
  only:
  - master
  - /.*(?i:travis).*$/

language: python
python:
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install -e .

script:
  - python gender_analysis/testing/doctests.py 
