chardet
clint
dh_testers
flake8
gutenberg_cleaner
matplotlib
more-itertools
nltk
numpy
pandas
pylint
requests
seaborn
scipy
wordcloud
coverage==5.3
pytest==6.0.2
-e git+https://github.com/huggingface/neuralcoref.git@0cff3c94e6019f6bee1004b58a3f0cd59c806fcf#egg=neuralcoref

